<div class="card my-4">
  <h5 class="card-header">Leave a Comment:</h5>
  <div class="card-body">
    <%= form_for [@post, @post.comments.new] do |form| %>
      <div class="form-group">
      	<%= form.text_area :boby, placeholder: "Add a comment",  required: :true, class: "form-control" %>
      </div>
      <%= form.submit "Add Comment", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>